.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.failure-para {
  color: #475569;
}
.try-again-button {
  background: white;
  border-radius: 12px;
  height: 40px;
  padding: 12px 24px;
  border: 0;
  color: white;
  margin-top: 10px;
}
.unordered-list {
  display: flex;
}
.slick-prev:before,
.slick-next:before {
  color: #989898;
  font-size: 20px;
}
.slick-prev:before {
  margin-right: 10px;
}
