.mobile-viewing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.book-title {
  color: #334155;

  font-size: 20px;
}
.author-name {
  color: #64748b;

  font-size: 17px;
  margin-top: 0;
}
.cover-pic {
  width: 85%;
  height: 250px;
}
.link-tag {
  text-decoration: none;
}
