.bookshelf-bg-container {
  background: #f5f7fa;
}
.bookshelf-bottom-container {
  margin: 40px 80px;
  display: flex;
  flex-direction: column;
}
.bookshelf-bottom-container-2 {
  display: flex;
}
.bookshelves-list-container {
  background-color: white;
  width: 300px;
  height: 87vh;
}
.shelf-heading {
  color: #334155;
  font-size: 15px;
  font-weight: 600;
  margin-left: 44px;
  margin-top: 26px;
}
.shelves-list-container {
  list-style-type: none;
  margin-left: 0;
}
.bookshelf-results-container {
  margin-left: 20px;
  width: 100%;
}
.shelf-heading-search-container {
  display: flex;
  justify-content: space-between;
}
.results-heading {
  color: #334155;
  font-size: 20px;
  font-weight: 600;
  margin-left: 50px;
}
.search-container {
  border: 1px #cbd5e1 solid;
  align-self: flex-end;
  margin-right: 50px;
}
.search-input {
  border: 0;
  padding: 5px;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.failure-para {
  color: #475569;
}
.try-again-button {
  background: #0284c7;
  border-radius: 12px;
  height: 40px;
  padding: 12px 24px;
  border: 0;
  color: white;
  margin-top: 10px;
}
.results-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.empty-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.render-view {
  background-color: transparent;
}
.search-icon-shelf {
  border: 0px;
  background: #edeff1;
  padding: 5px 15px;
  color: #94a3b8;
}
.empty-para {
  color: #334155;
  font-size: 18px;
  font-weight: 600;
}
.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
.footer-container {
  align-self: center;
}
