.bookshelf-bg-container {
  background: #f5f7fa;
  height: 100vh;
}
.bookshelf-bottom-container {
  margin: 40px 80px;
  display: flex;
}
.bookshelves-list-container {
  background-color: white;
  width: 300px;
  padding: 20px;
  height: 87vh;
}
.shelf-heading {
  color: #334155;
  font-size: 15px;
  font-weight: 600;
}
.shelves-list-container {
  list-style-type: none;
  margin-left: 0;
}
.bookshelf-results-container {
  margin-left: 20px;
  width: 100%;
}
.shelf-heading-search-container {
  display: flex;
  justify-content: space-between;
}
.results-heading {
  color: #334155;
  font-size: 20px;
  font-weight: 600;
}
.search-container {
  border: 1px #cbd5e1 solid;
  align-self: flex-end;
}
.search-input {
  border: 0;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.failure-para {
  color: #475569;
}
.try-again-button {
  background: #0284c7;
  border-radius: 12px;
  height: 40px;
  padding: 12px 24px;
  border: 0;
  color: white;
  margin-top: 10px;
}
.results-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.empty-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.render-view {
  background-color: transparent;
}
